@use '../variables';

div.Block {
	position: relative;
    display: flex;

    flex-direction: row;
    align-content: center;
    justify-content: flex-start;

	width: auto;
	height: auto;

	overflow: hidden;

	background-color: var(--global-color-background);

	border-radius: 0.25rem;

	background-clip: padding-box;

	border-width: var(--global-size-border-width);
	border-style: solid;
	border-color: var(--global-color-border);

	@media (max-width: variables.$global-breakpoint-md) {
	    flex-direction: column-reverse;
	}

	div.Block-Image {
		position: relative;
		display: block;

		z-index: 1;

		width: 50%;
		height: auto;
		
		min-height: 30rem;

		@media (max-width: variables.$global-breakpoint-md) {
		    width: 100%;
		}
	}

	div.Block-Content {
		position: relative;
		display: block;

		width: 50%;
		height: 100%;

		padding-top: var(--global-spacing-md);
		padding-right: var(--global-spacing-md);
		padding-bottom: var(--global-spacing-md);
		padding-left: var(--global-spacing-md);

		@media (max-width: variables.$global-breakpoint-md) {
		    width: 100%;

			padding-top: var(--global-spacing-sm);
			padding-right: var(--global-spacing-sm);
			padding-bottom: var(--global-spacing-sm);
			padding-left: var(--global-spacing-sm);
		}

		div.Block-Header {
			margin-bottom: 0.80rem;

			.Block-Header-Heading {
				margin-bottom: 0.80rem;
			}

			.Block-Header-Subheading {

			}

		}

		div.Block-Description {

			p.Block-Description-Content {
				// line-height: 120%;
			}

		}

	}

}