@use '../variables';

// Variables
:root {
	--component-globalnavigation-height: 0rem; // for JS
}

nav.GlobalNavigation {
	position: relative;
	display: block;

	width: 100%;
	height: auto;

	&.State-Open {

		div.GlobalNavigation-Container {
			flex-direction: column;
			align-items: flex-start;
		}

		ul.GlobalNavigation-List {
			display: flex;
		}

		.GlobalNavigation-CommandButton {
			align-self: flex-end;
		    position: absolute;
		    justify-self: flex-end;

		    top: var(--global-spacing-md);
		}

	}

	div.GlobalNavigation-Container {
		position: relative;
		display: flex;

		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		width: 100%;
		height: auto;

		max-width: var(--global-breakpoint-md);

		margin: 0 auto;

		padding-top: var(--global-spacing-md);
		padding-right: var(--global-spacing-md);
		padding-bottom: var(--global-spacing-md);
		padding-left: var(--global-spacing-md);
	}

	div.GlobalNavigation-Title {
		position: relative;
		display: flex;

		align-items: center;
		justify-content: center;

		width: auto;
		height: auto;

		padding-top: var(--global-spacing-xs);
		padding-left: var(--global-spacing-xs);
		padding-bottom: var(--global-spacing-xs);
		padding-right: var(--global-spacing-xs);

		margin-top: var(--global-spacing-xs);
		margin-bottom: 0;

		background-color: transparent;

		border-radius: 0.25rem;

		user-select: none;


		&:active {
			background-color: var(--global-color-foreground-secondary);
		}

		a {
			position: absolute;
			display: block;

			top: 0;
			left: 0;

			width: 100%;
			height: 100%;
		}

		.GlobalNavigation-Title-Content {
			// ...
		}
		
	}

	ul.GlobalNavigation-List {
		position: relative;
		display: flex;

		flex-direction: row;
		align-items: center;
		justify-content: normal;

		list-style: none;

		@media (max-width: variables.$global-breakpoint-md) {
			display: none;

			flex-direction: column;

			width: 100%;

			margin-top: var(--global-spacing-xs);
		} // @media

		li.GlobalNavigation-List-Item {
			position: relative;
			display: block;

			width: auto;
			height: auto;

			padding-top: 0;
			padding-right: var(--global-spacing-xs);
			padding-bottom: 0;
			padding-left: var(--global-spacing-xs);

			a {
				position: absolute;
				display: block;

				top: 0;
				left: 0;

				width: 100%;
				height: 100%;
			}

			&:last-of-type {
				padding-right: 0;
			} // :last-of-type

			@media (max-width: variables.$global-breakpoint-md) {
				width: 100%;
				height: auto;

				padding-top: var(--global-spacing-xs);
				padding-left: var(--global-spacing-xs);
				padding-bottom: var(--global-spacing-xs);
				padding-right: 0;

				margin-top: var(--global-spacing-xs);

				background-color: var(--global-color-background-selected);

				border-radius: 0.25rem;

				&:active {
					background-color: var(--global-color-foreground-secondary);
				}

				&:first-of-type {
					margin-top: 0;
				} // :first-of-type

			} // @media

		} // li.GlobalNavigation-List-Item
	
	} // ul.GlobalNavigation-List

	div.GlobalNavigation-CommandButton {
		position: relative;
		display: none;

		align-items: center;
		justify-content: center;

		width: auto;
		height: auto;

		padding-top: var(--global-spacing-xs);
		padding-left: var(--global-spacing-xs);
		padding-bottom: var(--global-spacing-xs);
		padding-right: var(--global-spacing-xs);

		margin-top: var(--global-spacing-xs);

		background-color: transparent;

		border-radius: 0.25rem;

		cursor: pointer;
		user-select: none;

		&:active {
			background-color: var(--global-color-foreground-secondary);
		}

		@media (max-width: variables.$global-breakpoint-md) {
			display: flex;
		} // @media

		.GlobalNavigation-CommandButton-Content {
			// ...
		} // .GlobalNavigation-CommandButton-Content

	} // div.GlobalNavigation-CommandButton

} // nav.GlobalNavigation