@use './variables';

html {
	position: relative;
	display: block;

	background: var(--global-color-background);

	height: 100%;

	font-size: 100%;
} // html

body {
	position: relative;
	display: block;

	direction: ltr;
	text-align: left;

	background: var(--global-color-background);
	
	color: var(--global-color-foreground);
	font-size: var(--global-text-size-sm);
	text-size-adjust: 100%; // Prevent font scaling in landscape.

	height: 100%;

	div#__next {
		position: relative;
		display: block;

		width: 100%;
		height: 100%;

		main.PageContainer {
			position: relative;
			display: flex;

			flex-direction: column;

			width: 100%;
			height: auto;

			max-width: var(--global-breakpoint-md);

			margin: 0 auto;

			padding-top: 0;
			padding-right: calc(var(--global-spacing-sm) + var(--global-spacing-xs));
			padding-bottom: 0;
			padding-left: calc(var(--global-spacing-sm) + var(--global-spacing-xs));

			// @media (max-width: variables.$global-breakpoint-md) {
				
			// } // @media

			header.PageHeader {
				position: relative;
				display: block;
				   
				margin-bottom: var(--global-spacing-md);

				.PageHeader-Heading {
				    position: relative;
				    display: block;

				    margin-bottom: var(--global-spacing-md);
				    padding-bottom: 0.14em; // prevent descenders from getting cut off.
				}

				.PageHeader-Subheading {
				}

				.PageHeader-Heading,
				.PageHeader-Subheading {
					&:last-child {
						margin-bottom: 0;
					}
				}

			}

		} // main.PageContainer

	} // div#__next

} // body
