@use './variables';

html {
	position: relative;
	display: block;

	background: var(--global-color-background);

	height: 100%;

	font-size: 100%;
} // html

body {
	position: relative;
	display: block;

	direction: ltr;
	text-align: left;

	background: var(--global-color-background);
	
	color: var(--global-color-foreground);
	font-size: var(--global-text-size-sm);
	text-size-adjust: 100%; // Prevent font scaling in landscape.

	height: 100%;

	div#__next {
		position: relative;
		display: block;

		width: 100%;
		height: 100%;

		main.PageContainer {
			position: relative;
			display: flex;

			flex-direction: column;

			width: 100%;
			height: auto;

			max-width: var(--global-breakpoint-md);

			margin: 0 auto;

			padding-top: 0;
			padding-right: var(--global-spacing-md);
			padding-bottom: 0;
			padding-left: var(--global-spacing-md);

			// @media (max-width: variables.$global-breakpoint-md) {
				
			// } // @media

		} // main.PageContainer

	} // div#__next

} // body
