// Application imports
@use 'normalize';

html {
	position: relative;
	display: block;

	background: var(--global-color-background);

	height: 100%;

	font-size: 100%;
} // html

body {
	position: relative;
	display: block;

	direction: ltr;
	text-align: left;

	background: var(--global-color-background);
	
	color: var(--global-color-foreground);
	font-size: var(--global-text-size-sm);
	text-size-adjust: 100%; // Prevent font scaling in landscape.

	height: 100%;

	div#__next {
		position: relative;
		display: flex;

		flex-direction: column;

		width: 100%;
		height: 100%;
	} // main.ptamain

} // body
