// Spacing variables
:root {
	--global-spacing-base:	1.4rem;

	--global-spacing-xxxxs:	calc(0.125 * var(--global-spacing-base)); 
	--global-spacing-xxxs:	calc(0.25 * var(--global-spacing-base));
	--global-spacing-xxs:	calc(0.375 * var(--global-spacing-base));
	--global-spacing-xs:	calc(0.5 * var(--global-spacing-base));
	--global-spacing-sm:	calc(0.75 * var(--global-spacing-base));
	--global-spacing-md:	calc(1.25 * var(--global-spacing-base));
	--global-spacing-lg:	calc(2 * var(--global-spacing-base));
	--global-spacing-xl:	calc(3.25 * var(--global-spacing-base));
	--global-spacing-xxl:	calc(5.25 * var(--global-spacing-base));
	--global-spacing-xxxl:	calc(8.5 * var(--global-spacing-base));
	--global-spacing-xxxxl:	calc(13.75 * var(--global-spacing-base));
}

// Breakpoint variables
:root {
	--global-breakpoint-xs: 360px;
	--global-breakpoint-sm: 480px;
	--global-breakpoint-md: 640px;
	--global-breakpoint-lg: 1024px;
	--global-breakpoint-xl: 1280px;
}

$global-breakpoint-xs: 360px;
$global-breakpoint-sm: 480px;
$global-breakpoint-md: 640px;
$global-breakpoint-lg: 1024px;
$global-breakpoint-xl: 1280px;

// Color variables
:root {
	--global-color-black: #000000;
	--global-color-black-rgb: 0, 0, 0;

	--global-color-white: #ffffff;
	--global-color-white-rgb: 255, 255, 255;

	--global-color-grey: #eeeff1;

	--global-color-grey-200: #E6EAED;
	--global-color-grey-200-rgb: 232, 232, 232;

	--global-color-grey-300: #c7c7c7;
	--global-color-grey-300-rgb: 199, 199, 199;

	--global-color-grey-400: #2E2E2E;
	--global-color-grey-400-rgb: 46, 46, 46;

	--global-color-grey-500: #191919;
	--global-color-grey-500-rgb: 26, 26, 26;

	--global-color-gradient: #fdde5c, #f8ab5e, #f56a62, #a176c8, #759beb, #65beb3, #70db96;
}

// Typography variables
:root {
	// Font families
	--global-body-font-family: 				Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--global-heading-font-family: 			Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	// Font weights
	--global-body-font-weight-thin: 		100;
	--global-body-font-weight-light: 		200;
	--global-body-font-weight-regular: 		300;
	--global-body-font-weight-medium: 		400;
	--global-body-font-weight-bold: 		500;

	--global-heading-font-weight-thin: 		100;
	--global-heading-font-weight-light: 	200;
	--global-heading-font-weight-regular: 	300;
	--global-heading-font-weight-medium: 	400;
	--global-heading-font-weight-bold: 		500;

	// Font features
	--global-text-features-basic: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;

	// Base type size
	--global-text-size: 1.0;

	// Type scaling ratio
	--global-text-scale-ratio: 1.4;

	// Type sizes
	--global-text-size-xxxs: calc(var(--global-text-size) - 0.6); // Base type size
	--global-text-size-xxs: calc(var(--global-text-size-xxxs) * var(--global-text-scale-ratio));
	--global-text-size-xs: calc(var(--global-text-size-xxs) * var(--global-text-scale-ratio));
	--global-text-size-sm: calc(var(--global-text-size-xs) * var(--global-text-scale-ratio));
	--global-text-size-md: calc(var(--global-text-size-sm) * var(--global-text-scale-ratio));
	--global-text-size-lg: calc(var(--global-text-size-md) * var(--global-text-scale-ratio));
	--global-text-size-xl: calc(var(--global-text-size-lg) * var(--global-text-scale-ratio));
	--global-text-size-xxl: calc(var(--global-text-size-xl) * var(--global-text-scale-ratio));
	--global-text-size-xxxl: calc(var(--global-text-size-xxl) * var(--global-text-scale-ratio));

	--global-text-vspace-multiplier: 0.75;
}

// Sizing variables
:root {
	--global-size-border-width: 0.175rem;
}

// Light theme variables
[data-theme="light"] {
	--global-color-background: var(--global-color-white);
	--global-color-background-rgb: var(--global-color-white-rgb);

	--global-color-background-selected: var(--global-color-grey-200);
	--global-color-background-selected-rgb: var(--global-color-grey-200-rgb);

	--global-color-foreground: var(--global-color-black);
	--global-color-foreground-rgb: var(--global-color-black-rgb);

	--global-color-foreground-secondary: var(--global-color-grey-300);
	--global-color-foreground-secondary-rgb: var(--global-color-grey-300-rgb);

	--global-color-border: var(--global-color-grey-200);
}

// Dark theme variables
[data-theme="dark"] {
	--global-color-background: var(--global-color-black);
	--global-color-background-rgb: var(--global-color-black-rgb);

	--global-color-background-selected: var(--global-color-grey-500);
	--global-color-background-selected-rgb: var(--global-color-grey-500-rgb);

	--global-color-foreground: var(--global-color-white);
	--global-color-foreground-rgb: var(--global-color-white-rgb);

	--global-color-foreground-secondary: var(--global-color-grey-300);
	--global-color-foreground-secondary-rgb: var(--global-color-grey-300-rgb);
	
	--global-color-border: var(--global-color-grey-500);
}
